<table align ="center" class="u-full-width">
  <thead>
    <tr>
      <th>Nom de la crypto</th>
      <th>Valeur de la crypto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @crypto.name %></td>
      <td><%= @crypto.price %></td>
    </tr>
  </tbody>
</table>
